<include file="./APP/Tpl/header.html" />
<include file='headerbar' />


<div id="user-page" class="container">

  <div class="row">
    <!-- 左侧 -->
    <div class="col-md-9">
        <!-- 用户板块 -->
        <div class="user-item" style="border-bottom:none;">
          <img class="img-rounded avatar" src="{$user.avatar}" />
          <div class="detail">
              <div class="name">
                {$user.username}
                <if condition="$user[verify]"><i title="认证用户" class="custom-icon-verify"></i></if>
              </div>
              <div class="more">
               	<li><span class="glyphicon glyphicon-map-marker"></span>{$user.location}</li>
              	<li><span class="glyphicon glyphicon-briefcase"></span>{$user.career}</li>
              	<if condition="$user[extraweibo]">
                	<li><span class="glyphicon glyphicon-send"></span><a target="_blank" href="{$user.extraweibo}">新浪微博</a></li>
                </if>
                <if condition="$user[extrablog]">
                    <li><span class="glyphicon glyphicon-globe"></span><a target="_blank" href="{$user.extrablog}">我的网站</a></li>
               	</if>
              </div>
              <div class="user-btn">
              <if condition="$visitor">
              	<div id="followuserstatus-{$user.id}">
                	<if condition="isfollow($visitor[id], $user[id])">
                    <a class="btn btn-default" onclick="FollowUser('{$user.id}', 1)" href="#" >已关注</a>
                    <else />
                    <a class="btn btn-warning" onclick="FollowUser('{$user.id}', 0)" href="#" >关注</a>
                    </if>
                </div>
                <a class="btn btn-default" href="#" onclick="SendMessage('{$user.id}')">发私信</a>
              <else />
              	<a class="btn btn-warning" href="#loginFront" role="button" data-toggle="modal">关注</a>
                <a class="btn btn-default" href="#loginFront" role="button" data-toggle="modal">发私信</a>
              </if>
              </div>
          </div>
        </div><!-- / 用户板块 -->
        
        <!-- 菜单 -->
        <div id="header-bar">
          <ul class="nav nav-tabs">
            <if condition="$page_name == postOriginal"><li class="active"><else /><li> </if><a href="/{$user.shortname}/">创作</a></li>
            <if condition="$page_name == share"><li class="active"><else /><li> </if><a href="/{$user.shortname}/share/">分享</a></li>
            <if condition="$page_name == like"><li class="active"><else /><li> </if><a href="/{$user.shortname}/like/">收藏</a></li>
            <if condition="$page_name == follow"><li class="active"><else /><li> </if><a href="/{$user.shortname}/follow/">关注</a></li>
          </ul>
        </div><!-- / 菜单 -->

        <!-- 主打作 -->
        <if condition="$page_name == postOriginal">       
        <div id="feature-video" class="row">
          <div class="col-sm-8">
          
            <div id="view-player">
                  {$featureVideo.content}
                  <script>
                    $(function(){ changePlayer('{$featureVideo.videoSite}','user'); });
                    window.onresize = function(){ changePlayer('{$featureVideo.videoSite}','user'); }
                  </script>
            </div>
            
          </div>
          <div class="col-xs-4 hidden-xs">
            <div id="right" >
                <div id="feature-info">
                    <div id="title">
                        <div id="line"></div>
                        <div id="link"><a title="{$featureVideo.title}" href="/view/{$featureVideo.id}/">{$featureVideo.title}</a></div>
                    </div>
                    <div id="description">{$featureVideo.description}</div>
                    <div id="date">{$featureVideo.createdTime|date="Y 年 n 月 d 日",###}</div>
                    <a id="more" href="/view/{$featureVideo.id}/">查看更多</a>
                </div>
            </div>
          </div>
        </div>
        </if><!-- / 主打作 -->
        
        <if condition="$page_type == users">
        	<include file="Public:users" />
        <else />
        	<include file="Public:posts" />
        </if> 
         
    </div><!-- / 左侧 -->

	<!-- 右侧 -->
    <div class="col-md-3">
      <div class="user-right">
          <!-- 用户数据 -->
          <div id="user-data">
            <div id="information" class="row">
              <div class="col-xs-4">
                <div id="nums"> <a href="/{$user.shortname}/" target="_blank">{$user.post|intval}</a></div>
                <div id="title"> 分享 </div>
              </div>
              <div class="col-xs-4">
                <div id="nums"> <a href="/{$user.shortname}/like/" target="_blank">{$user.likecount|intval}</a></div>
                <div id="title"> 收藏 </div>
              </div>
              <div class="col-xs-4">
                <div id="nums"><a href="/{$user.shortname}/follow/" target="_blank">{$user.follow|intval}</a></div>
                <div id="title"> 关注 </div>
              </div>
            </div>
          </div> <!-- / 用户数据 --> 
    
          <div class="hr-block">
            <div class="title">关于我</div>
            <div class="content">{$user.aboutme}</div>
          </div>

          <div class="hr-block">
            <div class="title">统计</div>
            <div class="content">被访问了{$user.viewed}次，共有{$user.postOriginal}部创作，{$user[post] - $user[postOriginal]}部分享，{$user.likecount}部收藏</div>
          </div>
          
      </div>
    </div>
    <!-- / 右侧 -->

  </div>

</div> <!-- /上方 -->

<!-- 登陆 -->
<div class="modal fade" id="sendMessage" tabindex="-1" role="dialog" aria-labelledby="sendMessageLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="sendMessageLabel">发送私信</h4>
      </div>
      <div class="modal-body">   
        <form class="form-horizontal" action="{:U('User/Ajax/sendMessage')}" method="POST">
          <input id="sendMessage-uid" name="uid" type="hidden" value="#" />
          <div class="form-group">
            <label class="col-sm-2 control-label">私信</label>
            <div class="col-sm-9">
              <textarea class="form-control" rows="6" name="message" placeholder="请填写私信内容"></textarea>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-9">
              <button type="submit" class="btn btn-warning btn-block">恩，发射！</button>
            </div>
          </div>
        </form>
      </div>    
    </div><!-- /.modal-content --> 
  </div><!-- /.modal-dialog --> 
</div><!-- /.modal --> 

<include file="./APP/Tpl/footer.html" />