<include file="./APP/Tpl/header.html" />
<div class="container" style="padding-top:25px">
	
    <include file="Public:headerbar" /> 
    
<if condition="$post_count">
    <div class="row amzcontent">
        <foreach name="post" item="v">
      		<include file="./APP/Modules/Index/Tpl/Post/single.html" /> 
        </foreach>
	</div>
      
	<div class="row amznavigation">
		<div class="amznext" style="text-align:center">
			{$page_next}      
		</div>
	</div>
      
	<div id="realpagination" class="row" style=" margin-top:50px;display:none">
		<div class="pagination pagination-small pagination-centered">
			{$page_nav}
		</div>
	</div>
<else />
    <div class="row" style=" margin:30px 0 100px 0;text-align: center">
        <p style="color: #2D2D2D; font-weight: bold; font-size: 18px;">还木有作品</p>
        <p><?=$user->username?>还木有分享作品<br />
            <br />
        </p>
    </div>
</if>

</div> <!-- /上方 -->

<include file="./APP/Tpl/footer.html" />